# Telegram Bot Token
BOT_TOKEN=your_telegram_bot_token

# Pterodactyl Configuration
PTERO_URL=https://panel.example.com
PTERO_API_KEY=your_ptero_application_api_key

# Digital Ocean Configuration
DO_API_KEY=your_do_api_key

# RumahOTP Configuration
RUMAHOTP_API_KEY=your_rumahotp_api_key

# Premku Configuration
PREMKU_API_KEY=your_premku_api_key

# Fayupedia Configuration
FAYUPEDIA_API_KEY=your_fayupedia_api_key
FAYUPEDIA_API_ID=your_fayupedia_api_id

# Admin configuration
ADMIN_ID=your_telegram_user_id
